@{
    List<string> typeNames = Enum.GetNames<LibraryUI.Enums.BookType>().ToList();
}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Kitap Türü
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <ul class="flex-column">
                @foreach (var item in typeNames)
                {
                    <li>
                        <input id="@item" name="type" class="form-check-input" value="@item" type="checkbox" />
                        <label class="form-check-label text-dark" for="@item">@item</label>
                    </li>
                }
            </ul>
        </div>
    </div>


</div>